[submodule "rk3528_linux_release-linux-5.10-gen-rkr6"]
	path = rk3528-linux-release-linux-5.10-gen-rkr6
	url = https://gitlab.com/rk3588_linux/linux/debian.git
[submodule "linux-6.1-stan-rkr4"]
	path = linux-6.1-stan-rkr4
	url = https://gitlab.com/rk3588_linux/linux/debian.git
[submodule "linux-6.1-stan-rkr5.1"]
	path = linux-6.1-stan-rkr5.1
	url = https://gitlab.com/rk3588_linux/linux/debian.git
