[submodule "debian"]
	path = linux-6.1-stan-rkr1
	url = https://gitlab.com/rockchip_linux_sdk_6.1/linux/debian.git
[submodule "rk3528_linux_release-linux-5.10-gen-rkr6"]
	path = rk3528-linux-release-linux-5.10-gen-rkr6
	url = https://gitlab.com/rk3588_linux/linux/debian.git
